# Assignment IV- Data Preprocessing 

Sonali Shripad Shanbhag (19BDS0114)
Dataset- bank.csv

In [2]:
#Step 1. Import the libraries
import numpy as np
import pandas as pd
#Step 2. Read the data set
dataset = pd.read_csv("bank.csv")
dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,32,blue-collar,married,secondary,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown,no
11133,37,management,married,tertiary,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure,no
11134,58,self-employed,married,tertiary,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown,no
11135,36,services,divorced,secondary,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown,no
11136,31,management,single,tertiary,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown,no
11137,49,retired,married,unknown,no,247,no,no,unknown,15,may,213,2,-1,0,unknown,no
11138,32,technician,married,secondary,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown,no
11139,30,self-employed,single,tertiary,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown,no
11140,55,services,divorced,secondary,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown,no
11141,32,blue-collar,married,secondary,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown,no
11142,52,admin.,divorced,secondary,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown,no
11143,38,unemployed,divorced,secondary,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown,no
11144,60,retired,married,secondary,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown,no
11145,60,retired,divorced,tertiary,no,-134,no,no,cellular,12,may,243,1,271,4,failure,no
11146,30,admin.,married,secondary,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown,no
11147,44,unemployed,married,secondary,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown,no
11148,32,blue-collar,married,secondary,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown,no
11149,46,entrepreneur,married,secondary,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown,no
11150,34,management,married,secondary,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown,no
11151,40,management,married,tertiary,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown,no
11152,34,housemaid,married,secondary,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,43,admin.,single,secondary,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,52,technician,married,tertiary,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,35,blue-collar,married,secondary,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,34,blue-collar,single,secondary,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [3]:
#Step 3. Handle the null/missing values
dataset.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

There are no missing values => step 3 done.

In [4]:
#Step 4: Split into x and y
x = dataset.iloc[:,1:17] #independent
y = dataset.iloc[:,16] #dependent

In [5]:
x

,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11132,blue-collar,married,secondary,no,-325,yes,yes,unknown,21,may,171,1,-1,0,unknown,no
11133,management,married,tertiary,no,1594,yes,no,cellular,17,apr,110,1,260,5,failure,no
11134,self-employed,married,tertiary,no,2596,no,no,telephone,18,nov,15,2,-1,0,unknown,no
11135,services,divorced,secondary,no,115,no,no,unknown,6,jun,201,1,-1,0,unknown,no
11136,management,single,tertiary,no,0,yes,no,cellular,8,sep,76,1,-1,0,unknown,no
11137,retired,married,unknown,no,247,no,no,unknown,15,may,213,2,-1,0,unknown,no
11138,technician,married,secondary,no,235,yes,no,telephone,28,aug,688,6,-1,0,unknown,no
11139,self-employed,single,tertiary,no,2593,no,no,unknown,27,may,662,7,-1,0,unknown,no
11140,services,divorced,secondary,no,2166,yes,no,unknown,28,may,23,17,-1,0,unknown,no
11141,blue-collar,married,secondary,no,130,yes,no,cellular,6,may,302,2,-1,0,unknown,no
11142,admin.,divorced,secondary,no,48,no,yes,cellular,17,nov,591,1,-1,0,unknown,no
11143,unemployed,divorced,secondary,no,189,yes,yes,cellular,21,jul,105,2,-1,0,unknown,no
11144,retired,married,secondary,no,0,yes,no,unknown,15,may,229,1,-1,0,unknown,no
11145,retired,divorced,tertiary,no,-134,no,no,cellular,12,may,243,1,271,4,failure,no
11146,admin.,married,secondary,yes,23,no,yes,cellular,4,feb,149,2,-1,0,unknown,no
11147,unemployed,married,secondary,no,0,no,no,cellular,21,nov,175,4,-1,0,unknown,no
11148,blue-collar,married,secondary,no,1,yes,no,unknown,8,may,102,1,-1,0,unknown,no
11149,entrepreneur,married,secondary,no,3317,no,no,cellular,19,nov,231,2,-1,0,unknown,no
11150,management,married,secondary,no,355,no,no,cellular,21,aug,314,3,-1,0,unknown,no
11151,management,married,tertiary,no,917,yes,no,unknown,20,may,292,1,-1,0,unknown,no
11152,housemaid,married,secondary,no,390,yes,no,cellular,15,jul,659,3,-1,0,unknown,no
11153,admin.,single,secondary,no,35,no,no,telephone,9,nov,208,1,-1,0,unknown,no
11154,technician,married,tertiary,no,523,yes,yes,cellular,8,jul,113,1,-1,0,unknown,no
11155,blue-collar,married,secondary,no,80,yes,yes,cellular,21,nov,38,2,172,2,failure,no
11156,blue-collar,single,secondary,no,-72,yes,no,cellular,7,jul,273,5,-1,0,unknown,no
11157,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [6]:
y

0        yes
1        yes
2        yes
3        yes
4        yes
5        yes
6        yes
7        yes
8        yes
9        yes
10       yes
11       yes
12       yes
13       yes
14       yes
15       yes
16       yes
17       yes
18       yes
19       yes
20       yes
21       yes
22       yes
23       yes
24       yes
25       yes
26       yes
27       yes
28       yes
29       yes
        ...
11132     no
11133     no
11134     no
11135     no
11136     no
11137     no
11138     no
11139     no
11140     no
11141     no
11142     no
11143     no
11144     no
11145     no
11146     no
11147     no
11148     no
11149     no
11150     no
11151     no
11152     no
11153     no
11154     no
11155     no
11156     no
11157     no
11158     no
11159     no
11160     no
11161     no
Name: deposit, Length: 11162, dtype: object

In [7]:
type(x)

pandas.core.frame.DataFrame

In [8]:
type(y)

pandas.core.series.Series

In [9]:
x = dataset.iloc[:,1:17].values
y = dataset.iloc[:,16].values

In [10]:
x

array([['admin.', 'married', 'secondary', ..., 0, 'unknown', 'yes'],
       ['admin.', 'married', 'secondary', ..., 0, 'unknown', 'yes'],
       ['technician', 'married', 'secondary', ..., 0, 'unknown', 'yes'],
       ...,
       ['technician', 'single', 'secondary', ..., 0, 'unknown', 'no'],
       ['technician', 'married', 'secondary', ..., 5, 'failure', 'no'],
       ['technician', 'married', 'secondary', ..., 0, 'unknown', 'no']],
      dtype=object)

In [11]:
y

array(['yes', 'yes', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [12]:
type(x)

numpy.ndarray

In [13]:
#Step 5. Handling Categorical Data
print("\nJob:\n ",dataset['job'].unique())
print("\nMarital:\n",dataset['marital'].unique())
print("\nEducation:\n",dataset['education'].unique())
print("\nDefault:\n",dataset['default'].unique())
print("\nHousing:\n",dataset['housing'].unique())
print("\nLoan:\n",dataset['loan'].unique())
print("\nContact:\n",dataset['contact'].unique())
print("\nMonth:\n",dataset['month'].unique())
print("\nPOutcome:\n",dataset['poutcome'].unique())
print("\nDeposit:\n",dataset['deposit'].unique())

Job:
  ['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']

Marital:
 ['married' 'single' 'divorced']

Education:
 ['secondary' 'tertiary' 'primary' 'unknown']

Default:
 ['no' 'yes']

Housing:
 ['yes' 'no']

Loan:
 ['no' 'yes']

Contact:
 ['unknown' 'cellular' 'telephone']

Month:
 ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']

POutcome:
 ['unknown' 'other' 'failure' 'success']

Deposit:
 ['yes' 'no']

In [14]:
x.shape

(11162, 16)

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [16]:
x[0]

array(['admin.', 'married', 'secondary', 'no', 2343, 'yes', 'no',
       'unknown', 5, 'may', 1042, 1, -1, 0, 'unknown', 'yes'],
      dtype=object)

In [17]:
ct = ColumnTransformer([("oh",OneHotEncoder(), [0,1,2,3,5,6,7,9,14,15])], remainder="passthrough")
x = ct.fit_transform(x)

In [18]:
x

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [0.0, 0.0, 0.0, ..., 2, 172, 5],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [19]:
x[0]

array([1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0,
       0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 2343, 5, 1042, 1, -1, 0],
      dtype=object)

In [20]:
x.shape

(11162, 52)

In [21]:
#Step 6. Split data to train and test
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test =train_test_split(x,y,test_size= 0.2,random_state =1)

In [22]:
x.shape

(11162, 52)

In [23]:
x_train.shape

(8929, 52)

In [24]:
x_test.shape

(2233, 52)

In [25]:
y_train.shape

(8929,)

In [26]:
y_test.shape

(2233,)

In [27]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [28]:
print("x_train",x_train)
print("x_test",x_test)
print("y_train",y_train)
print("y_test",y_test)

x_train [[-0.36918047  2.17933868 -0.17145904 ... -0.55002237 -0.48107659
  -0.3612238 ]
 [-0.36918047  2.17933868 -0.17145904 ...  2.73405131 -0.48107659
  -0.3612238 ]
 [-0.36918047  2.17933868 -0.17145904 ... -0.55002237 -0.48107659
  -0.3612238 ]
 ...
 [-0.36918047 -0.45885479  5.83229683 ... -0.55002237 -0.48107659
  -0.3612238 ]
 [ 2.7087023  -0.45885479 -0.17145904 ... -0.18512529  3.11825242
   4.40298199]
 [-0.36918047  2.17933868 -0.17145904 ... -0.55002237 -0.48107659
  -0.3612238 ]]
x_test [[ 2.7087023  -0.45885479 -0.17145904 ... -0.55002237 -0.48107659
  -0.3612238 ]
 [-0.36918047  2.17933868 -0.17145904 ... -0.18512529 -0.48107659
  -0.3612238 ]
 [-0.36918047  2.17933868 -0.17145904 ... -0.18512529 -0.48107659
  -0.3612238 ]
 ...
 [-0.36918047 -0.45885479  5.83229683 ... -0.55002237 -0.48107659
  -0.3612238 ]
 [-0.36918047 -0.45885479 -0.17145904 ...  0.17977178 -0.48107659
  -0.3612238 ]
 [-0.36918047 -0.45885479 -0.17145904 ...  0.54466886 -0.48107659
  -0.3612238 ]]
y_train ['no' 'yes' 'no' ... 'yes' 'yes' 'yes']
y_test ['no' 'no' 'no' ... 'yes' 'yes' 'no']